[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
elasticsearch = "*"
flask = "*"
flask-api = "*"
Bootstrap-Flask = "*"
gunicorn = "*"
python-dotenv = "*"
cx-Oracle = "*"
Jinja2="*"

[requires]
python_version = "3.7"

[scripts]
dev="./scripts/service.sh rundev"
build-docker="./scripts/service.sh docker"
release="./scripts/service.sh release"
