{% extends 'base.html' %}
{% block content %}
<div class="container">
<div>
    <div class="divTable table table-borderless table-dark">
        <div class="divTableHeading thead-dark">
            <div class="divTableRow ">
                <div class="divTableHead">Cuit: {{data.cuit}}</div>
            </div>
        </div>
    </div>
</div>
<div class="ridge">
    <div class="divTable table thead-dark th">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">Detalle</div>
            </div>
        </div>
    </div>
	{% for hip in data.hipotesis %}
    <div class="divTable"style="margin-left: 3px;">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableHead">Hipotesis:</div>
                <div class="divTableCell">{{hip.id_hipotesis}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">Descripcion:</div>
                <div class="divTableCell">{{hip.descripcion}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">Direccion General:</div>
                <div class="divTableCell">{{hip.dir_gral}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">Codigo Instructivo:</div>
                <div class="divTableCell">{{hip.cod_instructivo}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">Impuesto:</div>
                <div class="divTableCell">{{hip.id_impuesto}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableHead">Tipo Desvio:</div>
                <div class="divTableCell">{{hip.tipo_desvio}}</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell section">Corridas</div>
                <div class="divTableCell">
                {% for cr in hip.corridas %}
                <div class="divTableRow" style="width: 424px;display: inline-block;">
                    					
                        <div class="divTable">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableHead">Id Corrida</div>
                                    <div class="divTableCell">{{cr.id_corrida}}</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableHead">Fecha de la Corrida</div>
                                    <div class="divTableCell">{{cr.fecha_corrida}}</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableHead">Periodo Desde</div>
                                    <div class="divTableCell">{{cr.periodo_desde}}</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableHead">Periodo Hasta</div>
                                    <div class="divTableCell">{{cr.periodo_hasta}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="divTable">
                            <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead">Evidencia del Caso</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="divTableRow">
                            <div class="divTable">
                                <div class="divTableBody">
                                    <div class="divTableRow" style="width: 380px;display: inline-block;">
                                        <div class="divTableCell"> 
                                        {% for key,parent_dict_item in cr.items() %}                                            
                                            {% for sl in parent_dict_item.select %}
                                            <div class="divTableRow" style="width: 402px;display: inline-block;">
                                                <div class="divTableHead" style="width: 100px;">Origen</div>
                                                <div class="divTableCell" style="width: 180px;">{{parent_dict_item.origen}}</div>
                                            </div>
                                            {% for key, value in sl.items() %}
                                                <div class="divTableRow" style="width: 402px;display: inline-block;">
                                                    <div class="divTableHead" style="width: 100px;">{{key}}</div>
                                                    <div class="divTableCell" style="width: 180px;">{{value}}</div>
                                                </div>
                                            {% endfor %}   
                                            {% endfor %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>        
                        </div>
                    </div>
                    <br/>	
                
                    {% endfor %} 
                </div> 
            </div>
        </div>
	</div>
	{% endfor %}  
</div>
</div>
{% endblock %}